src/main/xml/EsquemaUsuarios.dtd

<?xml version="1.0" encoding="UTF-8"?>
        <!ELEMENT listaUsuarios (usuario*)>

        <!ELEMENT usuario (elo,esperandoEnMesa?)>
        <!ATTLIST usuario
                nombre ID #REQUIRED
                ip CDATA #REQUIRED
                puerto CDATA #IMPLIED
        >

        <!ELEMENT elo (#PCDATA)>

        <!ELEMENT esperandoEnMesa EMPTY>